.aboutPage-container {
  text-align: center;
}

.aboutPage-container > h3 {
  text-align: left;
  margin-left: 10px;
}

.aboutPage-image {
  width: 80vw;
  max-width: 1500px;
  height: 60vh;
  object-fit: cover;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 5px #000) contrast(125%);
}

.aboutPage-list {
  text-align: start;
}

.aboutPage-list > li {
  margin: 10px;
}

@media only screen and (max-width: 762px) {
  .aboutPage-image {
    width: 90vw;
    height: 40vh;
  }
}
