.funFacts-btn {
  border-radius: 10px;
  background-color: var(--tertiaryBackground);
  font-size: 1.25rem;
  margin: 0 0 15px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #000;
  transition: 1s;
  width: 125px;
}

.funFacts-btn:hover {
  box-shadow: 3px 3px 20px var(--hoverColor), 3px 2px 20px var(--hoverColor);
  transition: 1s;
}

.animatedBlock-container {
  color: #000;
  padding: 50px;
  text-align: center;
  background-image: radial-gradient(
    circle,
    var(--tertiaryBackground) 0%,
    var(--background) 100%
  );
  width: 60vw;
  margin: auto;
  animation: fadeIn 1000ms;
  border-radius: 5px;
  border: 1px solid #000;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
