.jsChallenges-container {
  text-align: center;
}

.jsChallenges-container button {
  margin: 1vh 0.5vw 0 0;
}

.jsChallenges-container input {
  margin-bottom: 2vh;
}

.jsChallenges-text-input {
  margin: 0 0 1vh;
  height: 10vh;
  width: 80vw;
  max-width: 1024px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  border-radius: 5px;
  background-color: var(--secondaryBackground);
  padding: 5px;
  text-indent: 2px;
}

.jsChallenges-buttons-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 2vh;
}

.jsChallenges-buttons-container button {
  width: 100px;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 5px;
  border-radius: 5px;
  background-color: var(--tertiaryBackground);
  border: 1px solid #000;
  transition: 1s;
  padding: 5px 0;
}

.jsChallenges-buttons-container button:hover {
  background-color: var(--hoverColor);
  transition: 1s;
}
