.timer-btn {
  border-radius: 5px;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--tertiaryBackground);
  border: 1px solid #000;
}

.timer-btn:hover {
  box-shadow: 1px 1px 1px #000;
}
