.studiesPage-container {
  text-align: center;
}

.nav-btn {
  background-color: var(--secondaryBackground);
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.nav-btn:hover {
  color: var(--hoverColor);
  transition: 0.5s;
  border: 2px solid var(--hoverColor);
}

.nav-btn > i {
  font-size: 1.5rem;
}

.details-btn {
  background-color: var(--secondaryBackground);
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
  font-size: 1rem;
  width: 150px;
  margin-top: 20px;
}

.details-btn:hover {
  color: var(--hoverColor);
  transition: 0.5s;
  border: 2px solid var(--hoverColor);
  animation: moves 1s infinite;
}

@keyframes moves {
  0% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.course-image {
  object-fit: contain;
  width: 550px;
  height: 600px;
  max-width: 90vw;
  max-height: 50vh;
  filter: drop-shadow(5px 5px 5px #000);
}

.details-container {
  margin: 20px auto 0;
  border: 1px solid #000;
  width: 550px;
  max-width: 90vw;
  border-radius: 5px;
  background-color: var(--secondaryBackground);
}

.links-container {
  display: flex;
  flex-flow: column wrap;
}

.course-link {
  color: #000;
  transition: 0.5s;
  margin: 1vh auto;
  font-style: italic;
}

.course-link:hover {
  color: var(--hoverColor);
  transition: 0.5s;
}
