.home-container {
  margin: 5vh 0;
  text-align: center;
}

.homePage-image {
  width: 70vw;
  max-width: 1500px;
  height: 40vh;
  object-fit: cover;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 5px #000) contrast(125%);
}

.homePage-text {
  background-color: var(--secondaryBackground);
  border-radius: 5px;
  width: 90vw;
  margin: 10px auto;
  padding: 5px;
  font-size: 1.1rem;
}

@media only screen and (min-width: 992px) {
  .homePage-text {
    width: 70vw;
  }
}

.homePage-buttons {
  display: flex;
  flex-flow: column nowrap;
  max-width: 200px;
  margin: auto;
}
