.quiz-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.quiz-container h3 {
  margin-top: 0;
}

.quiz-textarea {
  margin: 10px auto;
  border-radius: 5px;
}

.quiz-button {
  background-color: var(--tertiaryBackground);
  border-radius: 5px;
  border: 1px solid #000;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.quiz-button:hover {
  box-shadow: 1px 1px 1px #000;
}

.quiz-button:disabled {
  cursor: auto;
  box-shadow: none;
}

.quiz-image {
  width: 80vw;
  max-width: 768px;
  height: 50vh;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
  filter: drop-shadow(5px 5px 5px #000) contrast(125%);
}
