.projectRow:hover {
  background-color: var(--secondaryBackground);
  transition: 0.5s;
}

.projectRow-active {
  background-color: var(--secondaryBackground);
}

.projectRow > td > a {
  color: #000;
}

.projectRow > td > a:hover {
  color: var(--hoverColor);
}

@media only screen and (max-width: 762px) {
  .projectRow {
    font-size: 0.8rem;
  }
}
