.taskListCombined-label * {
  margin: 1vw;
}

.taskListCombined-label button {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.taskListCombined-label button:hover {
  box-shadow: 1px 1px #000;
}
