.header-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-color: var(--secondaryBackground);
  padding: 0.5vh 1vw;
  border-bottom: 2px solid #000;
  animation: header-load 400ms ease-in;
}

@keyframes header-load {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.header-container h1 {
  margin: 15px auto 0;
}

.date-container {
  text-align: center;
  background-color: var(--secondaryBackground);
  width: 300px;
  border-radius: 5px;
  margin: 10px auto;
  padding: 5px;
  font-style: italic;
  border: 2px solid #000;
}

@media only screen and (max-width: 762px) {
  .header-container {
    flex-flow: column wrap;
    justify-content: center;
  }

  .header-container h1 {
    font-size: 1.5rem;
  }

  .date-container {
    width: auto;
  }
}
