.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 15px;
}

.link {
  color: #000;
  margin: 5px auto;
  transition: 0.5s;
}

.link:hover {
  color: var(--hoverColor);
  transition: 0.5s;
}

.activeLink {
  color: var(--hoverColor);
  margin: 5px auto;
}

@media only screen and (max-width: 762px) {
  .navbar-container {
    flex-direction: row;
    font-size: 1rem;
    padding: 5px;
  }

  .navbar-container > a {
    margin: auto 5px;
  }
}
