.carousel-img {
  width: 100%;
  overflow: hidden;
}

.carousel-img ul {
  list-style: none;
  white-space: nowrap;
  padding: 0;
}

.carousel-img ul li {
  list-style: none;
  white-space: nowrap;
  display: inline;
  padding: 0.5rem;
}

.carousel-img ul li img {
  width: 90vw;
  max-width: 1500px;
  height: 50vh;
  border-radius: 5px;
  object-fit: cover;
}

.carousel-btn {
  background-color: var(--tertiaryBackground);
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #000;
  cursor: pointer;
}

.carousel-btn:hover {
  box-shadow: 1px 1px 1px #000;
}
