.projectsPage-title {
  text-align: center;
}

.projectsPage-notes {
  text-align: right;
  margin-right: 2vw;
}

.misc-container {
  margin: 2vh 1vw;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 10px;
}

.misc-container > p > a {
  color: #000;
}

.misc-container > p {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.misc-container > p > a:hover {
  color: var(--hoverColor);
}

.toggleImg-btn {
  background-color: var(--tertiaryBackground);
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  margin: 0 5px;
  font-weight: bold;
  width: 120px;
}

.toggleImg-btn:hover {
  background-color: var(--hoverColor);
  transition: 0.5s ease-in-out;
}

.timerAndQuizButtons {
  display: flex;
  flex-flow: column wrap;
  align-items: baseline;
}

.timerAndQuiz-header {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}

.timerAndQuizButtons p {
  margin: 0;
}

.timerAndQuiz-header button {
  margin: 0 5px;
}
