.projectsPage-title {
  text-align: center;
}

.misc-container {
  margin: 5vh 1vw;
  border-top: 1px solid #000;
  padding: 10px;
}

.misc-container > p > a {
  color: #000;
}

.misc-container > p > a:hover {
  color: var(--hoverColor);
}

.toggleImg-btn {
  background-color: var(--tertiaryBackground);
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px;
  font-weight: bold;
}

.toggleImg-btn:hover {
  background-color: var(--hoverColor);
  transition: 0.5s ease-in-out;
}
