.tab-btn {
  margin: 10px;
  cursor: pointer;
  background-color: var(--tertiaryBackground);
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 15px;
  transition: 1s;
}

.tab-btn:hover {
  background-color: var(--background);
  transition: 1s;
  box-shadow: 0 3px 3px 0 #000;
  transform: translateY(-5px);
}
