.tabSwitcher {
  margin: 10px auto 0;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

.tab-btn {
  width: 120px;
  font-weight: bold;
  margin: 5px 10px;
  cursor: pointer;
  background-color: var(--tertiaryBackground);
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 15px;
  transition: 1s;
}

.tab-btn:hover {
  background-color: var(--hoverColor);
  transition: 0.5s ease-in-out;
}

.tab-btn:active {
  scale: 0.7;
}
