.tasks-header {
  text-align: center;
}

.tasks-container {
  margin: 10px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
}

.tasks-additionalText {
  margin: 25px 10px;
}

.tasks-additionalText > a {
  color: #000;
  transition: 0.5s;
}

.tasks-additionalText > a:hover {
  color: var(--hoverColor);
  transition: 0.5s;
}
