:root {
  --background: #f9f7f3;
  --secondaryBackground: #d8e2dc;
  --tertiaryBackground: #aec3b0;
  --hoverColor: #6b9080;
  --alertColor: #e63946;
  --editColor: #219ebc;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  margin: 0 0 70px 0;
}
